/* Section Experience structure */
#experience h1{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Grid Container n°1 */
.rowGridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 35vh;
    overflow: hidden;
    gap: 10px;
}



/* Grid Container effect of transition */

/* Grid Container left-col hover-transition */
.rowGridContainer:has(.left-col:hover){
    grid-template-columns: 2.2fr 0.4fr 0.4fr;
    transition: grid-template-columns 700ms;
}
.left-col:hover{
    grid-template-rows: .2fr .8fr;
    transition: grid-template-rows 600ms  ;
}



/* Grid Container center-col hover-transition */
.rowGridContainer:has(.center-col:hover){
    grid-template-columns: 0.4fr 2.2fr 0.4fr;
    transition: grid-template-columns 700ms  ;
}
.center-col:hover{
    grid-template-rows: .2fr .8fr;
    transition: grid-template-rows 600ms  ;
}



/* Grid Container right-col hover-transition */
.rowGridContainer:has(.right-col:hover){
    grid-template-columns: 0.4fr 0.4fr 2.2fr;
    transition: grid-template-columns 700ms  ;
}
.right-col:hover{
    grid-template-rows: .2fr .8fr;
    transition: grid-template-rows 600ms  ;
}



/* Grid Elements*/

.gridElement{
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 0;
    border: solid 0.2em;
}


.gridElement h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
}

.gridElement span{
    text-align: center;
    margin: 20px 10%;
    font-size: 1.2em;
    line-height: 1.2em;  
}