:root{
    --black : #252525;
    --white : rgba(255, 255, 255, 0.8);
    --whitehover : rgba(255, 255, 255, 0.9);
}

*{
    margin: 0px 15px;
    scroll-behavior: smooth;
}


#pageContent{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.divTab{
    background-color: blue;
    width: 100%;
    min-height: 50px;
   
}